<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.gooddog.mapper.AdminMapper">


	<!-- 회원목록 불러오기 -->
		<select id="getUserInfo" resultType="UserVO" parameterType="UserVO">
				<![CDATA[
			SELECT * FROM user WHERE user_id = 0 ORDER BY user_id asc LIMIT #{limitStart}, #{listCount}
			]]>
		</select>
    
    <!--  회원 목록 수 -->
    <select id="userCount" resultType="int" parameterType="UserVO"> 
				<![CDATA[
			SELECT count(*) FROM user
			]]>
		</select>
    
	
	<!-- 블랙리스트 불러오기 -->
		<select id="getBlackInfo" resultType="BlackVO" parameterType="BlackVO">
	 			<![CDATA[
			SELECT * FROM black WHERE user_id = 0 ORDER BY user_id 
			]]>
		</select>
	
	<!--  블랙리스트 목록 수 -->
    <select id="blackCount" resultType="int" parameterType="BlackVO">
				<![CDATA[
			SELECT count(*) FROM black
			]]>
		</select>
	

	 
	<!-- 남자회원수 -->

	<select id="getMenCount" resultType="int" parameterType="UserVO">
			<![CDATA[
				select count(*) from user where user_gender=1; 
			]]>
		</select>
	
	<!-- 여자회원수 -->

		<select id="getWomenCount" resultType="int" parameterType="UserVO">
				<![CDATA[
					select count(*) from user where user_gender=2; 
				]]>
			</select>
<!-- 000000000000000000000000000000000000000admin_post000000000000000000000000000000000000 -->

			<!--  info 정보 가져오기 -->

	<select id="adminpost" parameterType="BookVO" resultType="BookVO">
		<![CDATA[ 
		                  SELECT * FROM book WHERE dic_no ORDER BY dic_no asc LIMIT #{limitStart}, #{listCount}
		
		
		]]>
		
				
	</select>
	
	<!-- 회원 목록 수 -->



<select parameterType="BookVO" resultType="int" id="bookCount">

<![CDATA[
         SELECT count(*) FROM book 
         ]]>
</select>





<!--  갤러리 정보 가져오기  -->
	<select id="adminpostgallery" parameterType="GalleryVO" resultType="GalleryVO">
		<![CDATA[ 
		                  SELECT * FROM gallery WHERE gal_no ORDER BY gal_no asc LIMIT #{limitStart}, #{listCount}
		
		
		]]>
		
				
	</select>
	
	<!-- 회원 목록 수 -->



<select parameterType="GalleryVO" resultType="int" id="galleryCount">

<![CDATA[
         SELECT count(*) FROM gallery 
         ]]>
</select>			
			
			
<!-- ///////////////////////////////////////////////////////////////////////// -->			
			
			
</mapper>   