<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.gooddog.mapper.GalleryMapper">

	<!-- 갤러리 글 전체보기 -->
	<select id="galleryList" resultType="GalleryVO" parameterType="GalleryVO">
		SELECT * FROM gallery
		<if test = "searchTag !=null and searchTag.equals('Like')" >
			ORDER BY gal_heart DESC
		</if>
		<if test = "searchTag !=null and searchTag.equals('Hot')" >
			ORDER BY gal_cnt DESC
		</if>
		<if test = "searchTag !=null and searchTag.equals('New')" >
			ORDER BY gal_date DESC
		</if>

		limit 0, #{pnum}
	</select>
	
	<!-- 갤러리 글 상세보기-->
	<select id="galNoList" resultType="hashmap" parameterType="int">
		<![CDATA[
		SELECT * FROM gallery g inner join user u on g.user_id=u.user_id WHERE gal_no=#{no}
		]]>
	</select>
	
	<!-- 갤러리 게시글 수 -->
		<select id="galcount" resultType="int" >
		<![CDATA[
		SELECT count(*) FROM gallery
		]]>
	</select>
	
	<!-- 갤러리 해시태그, 글쓴이 검색 -->
	
	<select id="galSearch" resultType="GalleryVO" parameterType="GalleryVO">
		
		SELECT * FROM gallery g inner join user u on g.user_id=u.user_id
		WHERE user_nick=#{searchTag} or gal_tag LIKE CONCAT('%',#{searchTag},'%')
		limit 0, #{pnum}

	</select>
	
	
	<select id="galSearchcount" resultType="int" parameterType="GalleryVO">
		
		SELECT count(*) FROM gallery g inner join user u on g.user_id=u.user_id
		WHERE user_nick=#{searchTag} or gal_tag LIKE CONCAT('%',#{searchTag},'%')

	</select>
	
	
	<!-- 갤러리 글 insert -->
	<insert id="galInsert" parameterType="GalleryVO">
		INSERT INTO gallery(gal_no,user_id,gal_name,gal_img,gal_content,gal_tag,gal_date,gal_heart,gal_cnt)
		VALUES(null,#{user_id},#{gal_name},#{gal_img},#{gal_name},#{gal_tag},now(),0,0)
	</insert>
	
	<!-- 갤러리 글 수정 -->
	<update id="galUpdate" parameterType="GalleryVO">
		UPDATE gallery SET gal_name=#{gal_name},gal_tag=#{gal_tag}
		<if test="gal_img != null">
		, gal_img = #{gal_img}
		</if>
		
		WHERE gal_no=#{gal_no}
	</update>
	<!-- 조회수 1 up -->
	<update id="galcntup" parameterType="int">
		<![CDATA[
		UPDATE gallery SET gal_cnt=gal_cnt+1 WHERE gal_no=#{no}
		]]>
	</update>
	
	<!-- 좋아요 1개 up -->
	<update id="galHeartUp" parameterType="GalleryVO">
		<![CDATA[
		UPDATE gallery SET gal_heart=gal_heart+1 WHERE gal_no=#{gal_no}
		]]>
	</update>
	<!-- 좋아요 1개 down -->
	<update id="galHeartDown" parameterType="GalleryVO">
		<![CDATA[
		UPDATE gallery SET gal_heart=gal_heart-1 WHERE gal_no=#{gal_no}
		]]>
	</update>
	<!-- 갤러리 글 삭제 -->
	<delete id="galDelete"  parameterType="int">
		<![CDATA[
		DELETE FROM gallery WHERE gal_no=#{gal_no}
		]]>
	</delete>
	<!-- 갤러리 글 신고 -->
	<insert id="badContent" parameterType="GalleryVO">
		INSERT INTO badcontent(bad_no,gal_no,u_id,date)
		VALUES(null,#{gal_no},#{user_id},now())
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="commentList" parameterType="int" resultType="hashmap">
		<![CDATA[
		SELECT * FROM galre g inner join user u on g.user_id = u.user_id WHERE gal_no=#{gal_no}
		order by galre_date desc
		]]>
	</select>
	
	<!-- 댓글 5개씩 조회 (페이징에 이용) -->
	<select id="commentPaging" parameterType="GalleryVO" resultType="hashmap">
		<![CDATA[
		SELECT * FROM galre g inner join user u on g.user_id = u.user_id WHERE gal_no=#{gal_no}
		order by galre_date desc limit #{pnum}, 5
		]]>
	</select>
	
	<!-- 댓글 개수 조회 -->
	<select id="commentCount" parameterType="int" resultType="int">
		<![CDATA[
		SELECT count(*) 
		FROM galre
		WHERE gal_no=#{gal_no}
		]]>
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="commentInsert" parameterType="GalreVO" >
		INSERT INTO galre(galre_no,user_id,gal_no,galre_content,galre_date)
		VALUES(null,#{user_id},#{gal_no},#{galre_content},now());
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="commentDelete" parameterType="GalreVO" >
		<![CDATA[
		DELETE FROM galre WHERE galre_no=#{galre_no}
		]]>
	</delete>
	
	<!-- 사용자별 좋아요 insert -->
	
	<insert id="userlikeInsert" parameterType="GalleryVO">
		INSERT INTO gallike(gal_no,user_id)
		VALUES(#{gal_no},#{user_id});
	</insert>
	
	<!-- 사용자별 좋아요 delete -->
	
	<delete id="userlikeDelete" parameterType="GalleryVO">
		DELETE FROM gallike WHERE user_id=#{user_id} and gal_no=#{gal_no}
	</delete>
	
	<!-- 사용자 좋아요 기록 있는지 확인 select -->
	<select id="userlikeSelect" parameterType="GalleryVO" resultType="int">
		select count(*) from gallike where user_id=#{user_id} and gal_no=#{gal_no}
	</select>
	
	<!-- 갤러리 모든 태그 들고오기 -->
	<select id="galtag"  resultType="GalleryVO">
		select gal_tag from gallery
	</select>
	
	
</mapper>   