<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.gooddog.mapper.MypageDogCareMapper">

	<!-- 반려견 몸무게 목록 조회 -->
	<select id="weightList" parameterType="PetVO" resultType="WeightVO">

	SELECT * 
	FROM (SELECT weight_no,DATE_FORMAT(weight_date,'%Y-%m-%d') weight_date, weight_content
			FROM pet p inner join weight w
			WHERE p.pet_no = w.pet_no
			AND p.user_id = #{user_id} 
			AND p.pet_no = #{pet_no}
			AND DATE_FORMAT(weight_date,'%YYYY')=#{year}
			<if test='month != 0'>AND DATE_FORMAT(weight_date,'%m')=#{month}</if>
			ORDER BY weight_date DESC 
			<!-- LIMIT 7 -->) d 
	ORDER BY d.weight_date 
	</select>
	
	<insert id="insertWeight" parameterType="WeightVO">
	INSERT INTO weight
	(weight_content, weight_date, pet_no)
	VALUES(#{weight_content},#{weight_date},#{pet_no})
	</insert>
	
	<update id="modifyWeight" parameterType="WeightVO">
	UPDATE weight 
	SET weight_date = #{weight_date},
		weight_content = #{weight_content}
	WHERE weight_no = #{weight_no} 
	</update>
	
	<delete id="deleteWeight" parameterType="WeightVO">
	DELETE FROM weight
	WHERE weight_no = #{weight_no} 
	</delete>
	
	<!-- 산책 기록  -->
	<select id="walkList" parameterType="WalkingVO" resultType="WalkingVO">
	SELECT * 
	FROM (SELECT walk_no,DATE_FORMAT(walk_date,'%Y-%m-%d') walk_date, walk_content
			FROM pet p inner join walking w
			WHERE p.pet_no = w.pet_no
			AND p.pet_no = #{pet_no}
			AND DATE_FORMAT(walk_date,'%YYYY')=#{year}
			<if test='month != 0'>AND DATE_FORMAT(walk_date,'%m')=#{month}</if>
			ORDER BY walk_date DESC 
			<!-- LIMIT 7 -->) d 
	ORDER BY d.walk_date 
	</select>
	
	
	<insert id="insertWalk" parameterType="WalkingVO">
	INSERT INTO walking
	(walk_content, walk_date, pet_no)
	VALUES(#{walk_content},sysdate(),#{pet_no})
	</insert>
	
	<update id="modifyWalk" parameterType="WalkingVO">
	UPDATE walking 
	SET walk_date = sysdate(),
		walk_content = #{walk_content}
	WHERE walk_no = #{walk_no}
	</update>
	
	<delete id="deleteWalk" parameterType="WalkingVO">
	DELETE FROM walking
	WHERE walk_no = #{walk_no}
	</delete>

</mapper>